<app-auth-layout [title]="'auth.thanks-for-registering.title' | translate">
  <form>
    <h3>
      {{
        'auth.thanks-for-registering-verification-email-sent.text' | translate:{userEmail}
      }}
    </h3>
    @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
    }
    <button type="button" (click)="resendEmail()" mat-flat-button>
      <!-- Resend verification email -->
      {{ 'auth.resend-verification-email.button' | translate }}
    </button>
    <br />
    <br />
    <button type="button" (click)="goToLogin()" mat-button>
      {{ 'auth.back-to-login.link' | translate }}
    </button>
  </form>
</app-auth-layout>
