<app-auth-layout>
  @if (confirmState === 'na') {
    <div>
      <button (click)="confirmEmail()" mat-flat-button>
        Click to confirm email
      </button>
    </div>
  }
  @if (confirmState === 'success') {
    <div>
      <h3>Email verified successfully!</h3>
      <button (click)="goToLoginPage()" mat-raised-button>
        Go back to login page
      </button>
    </div>
  }
  @if (confirmState === 'failed') {
    <div>
      <h3>Verification Failed</h3>
      <p>{{ this.errorMessage }}</p>
    </div>
  }
</app-auth-layout>
