.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    .month-title {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin-bottom: 16px;

    .day-header {
        text-align: center;
        font-weight: 900;
        padding: 8px;
    }

    .day-cell {
        text-align: center;
        padding: 12px 8px;
        border-radius: 5px;
        font-weight: 400;

        &.current-month {
            background-color: darkcyan;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: darkorange;
            }
        }


        &.selected-day {
            background-color: darkorange;
        }

        &.has-journal {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 4px;
                left: 50%;
                transform: translateX(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #333333;
            }
        }
    }
}

.mat-dialog-actions {
    padding: 16px 0 0 0;
}
