<app-auth-layout [title]="'auth.login.title' | translate">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ 'auth.email.label' | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'auth.email.label' | translate"
        type="email"
        formControlName="email"
      />
      @if (loginForm.controls.email.errors) {
        <mat-error>{{ 'auth.invalid-email.error' | translate }}</mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>{{ 'auth.password.label' | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'auth.password.label' | translate"
        [type]="getInputType()"
        formControlName="password"
      />
      <button type="button" mat-icon-button matSuffix (click)="toggleHidePwd()">
        <mat-icon>{{ getVisibilityIcon() }}</mat-icon>
      </button>
      @if (loginForm.controls.password.errors) {
        <mat-error>{{ 'auth.password.field-error' }}</mat-error>
      }
    </mat-form-field>
    <mat-error>{{ loginErrorMessage }}</mat-error>
    <br />
    <button mat-flat-button>{{ 'auth.login.button' | translate }}</button>
  </form>
  <p>
    {{ 'auth.new-user-register.link' | translate }}
    <a routerLink="/auth/register">{{ 'auth.register.button' | translate }}</a>
  </p>
  <p>
    <a routerLink="/auth/forgot-password">{{
      'auth.forgot-password_q.link' | translate
    }}</a>
  </p>
</app-auth-layout>
