<app-auth-layout [title]="'auth.forgot-password_q.title' | translate">
  @if (actionState === 'not-sent') {
    <div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <p>{{ 'auth.enter-email-of-account-creation.label' | translate }}</p>
        <mat-form-field>
          <mat-label>{{ 'auth.email.label' | translate }}</mat-label>
          <input type="text" formControlName="email" name="email" matInput />
          @if (forgotPasswordForm.controls.email.hasError('required')) {
            <mat-error>{{
              'form.this-field-is-required.error' | translate
            }}</mat-error>
          }
          @if (forgotPasswordForm.controls.email.hasError('email')) {
            <mat-error>{{
              'auth.invalid-email-format.error' | translate
            }}</mat-error>
          }
        </mat-form-field>
        <br />
        <br />
        <button mat-flat-button>
          {{ 'auth.send-reset-link' | translate }}
        </button>
        <br />
        <br />
        <button mat-button type="button">
          <a routerLink="/auth/login">{{
            'general.go-back.button' | translate
          }}</a>
        </button>
      </form>
    </div>
  }
  @if (actionState === 'sent') {
    <div>
      <h3>{{ 'general.success.text' | translate }}</h3>
      <p>
        {{ 'auth.if-email-registered-then-will-receive-link.text' | translate }}
      </p>
    </div>
  }
</app-auth-layout>
