<app-auth-layout title="Forgot your password?">
  @if (actionState === 'not-sent') {
    <div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <p>Please enter the email address that was used to create your account</p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="text" formControlName="email" name="email" matInput />
          @if (forgotPasswordForm.controls.email.hasError('required')) {
            <mat-error
              >Email is required</mat-error
              >
            }
            @if (forgotPasswordForm.controls.email.hasError('email')) {
              <mat-error
                >Please enter a valid email</mat-error
                >
              }
            </mat-form-field>
            <br />
            <br />
            <button mat-flat-button>Send reset link</button>
            <br />
            <br />
            <button mat-button><a routerLink="/auth/login">Back</a></button>
          </form>
        </div>
      }
      @if (actionState === 'sent') {
        <div>
          <h3>Success</h3>
          <p>
            If you did register the account with this email then you will receive an
            email with the link to reset your password soon
          </p>
        </div>
      }
    </app-auth-layout>
