<app-auth-layout title="Forgot your password?">
    <div *ngIf="actionState === 'not-sent'">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <p>Please enter the email address that was used to create your account</p>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" formControlName="email" name="email" matInput>
                <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('email')">Please enter a valid email</mat-error>
            </mat-form-field>
            <br>
            <br>
            <button mat-flat-button>Send reset link</button>
        </form>
    </div>
    <div *ngIf="actionState === 'sent'">
        <h3>Success</h3>
        <p>If you did register the account with this email then you will receive an email with the link to reset your password soon</p>
    </div>


</app-auth-layout>
