.journal-container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #333333;
  border-radius: 10px;
  height: 90%;
}

.date-navigator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.date-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.date-display {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  //flex-grow: 1;
  padding: 0 16px;
}

.journal-form-container {
  width: 100%;
  text-align: center;
  min-height: 400px;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.journal-content-field {
  width: 100%;
  max-width: 1000px;

  height: 400px;

  textarea {
    width: 100%;
    height: 500px;
    min-height: 250px;
    resize: none;
  }
}

.journal-tag-field {
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 600px) {
  .date-navigator .date-nav-bar .date-display {
    font-size: 1rem;
    padding: 0 8px;
  }
}
