<app-auth-layout title="Register">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" name="username" />
      @if (registerForm.controls.username.hasError('required')) {
        <mat-error
          >This field is required</mat-error
          >
        }
        @if (registerForm.controls.username.hasError('minlength')) {
          <mat-error
            >Username needs to be a least 4 characters long</mat-error
            >
          }
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" name="email" />
          @if (registerForm.controls.email.hasError('required')) {
            <mat-error
              >This field is required</mat-error
              >
            }
            @if (registerForm.controls.email.hasError('email')) {
              <mat-error
                >Invalid email format</mat-error
                >
              }
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="password"
                name="password"
                />
              @if (registerForm.controls.password.hasError('required')) {
                <mat-error
                  >This field is required</mat-error
                  >
                }
                @if (registerForm.controls.password.hasError('pattern')) {
                  <mat-error
                    >Must contain at least 8 character, one capital letter, one lowercase
                    letter and one number</mat-error
                    >
                  }
                </mat-form-field>
                <br />
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    type="password"
                    formControlName="confirmPassword"
                    name="confirmPassword"
                    />
                  @if (registerForm.controls.confirmPassword.hasError('required')) {
                    <mat-error
                      >This field is required</mat-error
                      >
                    }
                    @if (registerForm.controls.confirmPassword.hasError('samePassword')) {
                      <mat-error
                        >The two passwords do not match</mat-error
                        >
                      }
                    </mat-form-field>
                    <br />

                    <button mat-flat-button type="submit">Register</button>
                  </form>
                  <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
                  <p><a routerLink="/auth/forgot-password">Forgot your password?</a></p>
                </app-auth-layout>
