
<app-auth-layout title="Login">
<!--    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">-->
   <form>

       <mat-form-field><input matInput placeholder="Email" type="email"></mat-form-field>
       <br>
       <mat-form-field>
           <input matInput placeholder="passowrd" [type]="getInputType()">
           <button type="button" mat-icon-button matSuffix (click)="toggleHidePwd()">
               <mat-icon>{{ getVisibilityIcon() }}</mat-icon>
           </button>
       </mat-form-field>
       <br>
       <button mat-flat-button>Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/auth/register">Register</a></p>
</app-auth-layout>
