<app-auth-layout [title]="'auth.reset-password.title' | translate">
  @if (confirmState === 'na') {
    <div>
      <p>
        {{ 'auth.enter-new-password-to-reset' | translate: { userEmail } }}
      </p>
      <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
        <mat-form-field>
          <mat-label>{{ 'auth.new-password.label' | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
          />
          @if (resetPasswordForm.controls.password.hasError('required')) {
            <mat-error>{{
              'form.this-field-is-required.error' | translate
            }}</mat-error>
          }
          @if (resetPasswordForm.controls.password.hasError('pattern')) {
            <mat-error
              >{{
                'auth.password-eight-char-one-cap-one-letter-one-lowercase-one-number.error'
                  | translate
              }}
            </mat-error>
          }
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>{{
            'auth.confirm-new-password.label' | translate
          }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            name="confirmPassword"
          />
          @if (
            resetPasswordForm.controls.confirmPassword.hasError('required')
          ) {
            <mat-error>{{ 'form.this-field-is-required.error' }}</mat-error>
          }
          @if (
            resetPasswordForm.controls.confirmPassword.hasError('samePassword')
          ) {
            <mat-error>{{
              'auth.passwords-not-match.error' | translate
            }}</mat-error>
          }
        </mat-form-field>
        <br />
        <mat-error>{{ errorMessage }}</mat-error>
        <button mat-flat-button>{{ 'form.confirm.button' | translate }}</button>
      </form>
    </div>
  }

  @if (confirmState === 'success') {
    <div>
      <h3>{{ 'auth.reset-password-successful' | translate }}</h3>
      <p>
        {{
          'auth.password-updated-may-login-with-new-credential.text' | translate
        }}
      </p>
      <a [routerLink]="['/auth/login']">{{
        'auth.back-to-login.link' | translate
      }}</a>
      <br />
      <!-- <button type="button" [routerLink]="['/auth/login']" mat-flat-button>
        Back to login
      </button> -->
    </div>
  }
</app-auth-layout>
